{% extends "page.twig" %}

{% block body %}

    {% set path = template.templateName|split('/') %}

    <div class="template-header">

        {% if path|length > 1 %}
            <p class="template__directory">{{ path[0:-1]|join('/') }}</p>
        {% endif %}

        <h1>{{ path|last }}</h1>

    </div>

    <div class="switcher">
        <div class="view-switcher">

            <ul class="switcher__view-switcher" role="tablist">
                <li id="template_preview_tab" class="switcher__view-switcher-item" aria-controls="template_preview" role="tab">Preview</li>
                <li id="template_contents_tab" class="switcher__view-switcher-item" aria-controls="template_contents" role="tab">Template</li>
            </ul>

        </div>
        <div class="switcher__actions">

            <p class="switcher__action"><a target="_blank" href="/_outpost/templates/preview?template={{ template.templateName|e("url") }}">Open in new window</a></p>

            <p class="switcher__action"><a href="javascript:new pym.Parent('preview', '/_outpost/templates/preview?template={{ template.templateName|e("url") }}', {});">Refresh</a></p>

        </div>
    </div>

    <div id="template_preview" aria-labelledby="template_preview_tab" role="tabpanel">
        {% include "console/templates/preview/widget.twig" %}
    </div>

    <div id="template_contents" aria-labelledby="template_contents_tab" role="tabpanel">
        <pre>{{ template.contents }}</pre>
    </div>

{% endblock %}
