{% set activeItem = "templates" %}

{% extends "console/page.twig" %}

{% block body %}

    {% set path = template.templateName|split('/') %}

    <div class="template-header">

        {% if path|length > 1 %}
            <p class="template__directory">{{ path[0:-1]|join('/') }}</p>
        {% endif %}

        <h1>{{ path|last }}</h1>

    </div>

    {% set preview %}
        <div class="template-preview">
            <div class="switcher__actions">

                <p class="switcher__action"><a target="_blank" href="/_outpost/templates/preview?template={{ template.templateName|e("url") }}">Open in new window</a></p>

                <p class="switcher__action"><a href="javascript:new pym.Parent('preview', '/_outpost/templates/preview?template={{ template.templateName|e("url") }}', {});">Refresh</a></p>

            </div>
            {% include "console/templates/preview/widget.twig" %}
        </div>
    {% endset %}

    {% set source %}
        <div class="template-source">
            <pre>{{ template.contents }}</pre>
        </div>
    {% endset %}

    {% include "console/tabbed-content.twig" with { tabs: [
        { name: 'Preview', content: preview },
        { name: 'Template', content: source }
    ]} %}

{% endblock %}
