{% set breakpoints_sorted = breakpoints|sort|reverse %}
<div class="resizer">
    <div class="resizer__breakpoint{{ current ?: " resizer__breakpoint--current" }} resizer__breakpoint--full-width" style="width:100%;margin-left:-50%;z-index:0;" data-breakpoint-size="100%">
        <div class="resizer__breakpoint-label">100%</div>
    </div>
    {% for breakpoint in breakpoints_sorted %}
    <div id="breakpoint_{{ loop.index }}" class="resizer__breakpoint{{ breakpoint == current ? " resizer__breakpoint--current" }}" style="width:{{ breakpoint }}px;margin-left:-{{ breakpoint/2 }}px;z-index:{{ loop.index }};" data-breakpoint-size="{{ breakpoint }}px">
        <div class="resizer__breakpoint-label">{{ breakpoint }}px</div>
    </div>
    {% endfor %}
    <style>
        {% for breakpoint in breakpoints_sorted %}
            #breakpoint_{{ loop.index }} { display: none; }
            @media (min-width: {{ breakpoint + 200 }}px) { #breakpoint_{{ loop.index }} { display: block; } }
        {% endfor %}
    </style>
</div>
