{% set activeItem = "classes" %}

{% extends "console/page.twig" %}

{% block body %}

    <h1>{{ entity.summary ?: entity.name }}</h1>

    <div>{{ entity.description }}</div>

    <h2>Properties</h2>

    {% if entity.templateProperties %}
    <table>
        <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for property in entity.templateProperties %}
            <tr>
                <td>{{ property.name }}</td>
                <td>{{ property.type }}</td>
                <td>{{ property.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <h2>Code</h2>

    <p>{{ entity.fileName }}</p>

    {% if entity.startLine == entity.endLine %}
        <p>Line {{ entity.startLine }}</p>
    {% else %}
        <p>Lines {{ entity.startLine }} - {{ entity.endLine }}</p>
    {% endif %}

    <pre>{{ entity.source }}</pre>

{% endblock %}

